parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined method Mautic\\\\LeadBundle\\\\Event\\\\ImportProcessEvent\\:\\:addWarning\\(\\)\\.$#"
			count: 1
			path: EventListener/ImportSubscriber.php

		-
			message: "#^Access to undefined constant Mautic\\\\LeadBundle\\\\Segment\\\\ContactSegmentFilterFactory\\:\\:CUSTOM_OPERATOR\\.$#"
			count: 1
			path: EventListener/SegmentFiltersMergeSubscriber.php

		-
			message: "#^Call to method getFilters\\(\\) on an unknown class Mautic\\\\LeadBundle\\\\Event\\\\LeadListMergeFiltersEvent\\.$#"
			count: 1
			path: EventListener/SegmentFiltersMergeSubscriber.php

		-
			message: "#^Call to method setFilters\\(\\) on an unknown class Mautic\\\\LeadBundle\\\\Event\\\\LeadListMergeFiltersEvent\\.$#"
			count: 1
			path: EventListener/SegmentFiltersMergeSubscriber.php

		-
			message: "#^Parameter \\$event of method MauticPlugin\\\\CustomObjectsBundle\\\\EventListener\\\\SegmentFiltersMergeSubscriber\\:\\:mergeCustomObjectFilters\\(\\) has invalid type Mautic\\\\LeadBundle\\\\Event\\\\LeadListMergeFiltersEvent\\.$#"
			count: 1
			path: EventListener/SegmentFiltersMergeSubscriber.php

		-
			message: "#^Call to an undefined method Mautic\\\\LeadBundle\\\\Segment\\\\ContactSegmentFilterCrate\\:\\:getMergedProperty\\(\\)\\.$#"
			count: 1
			path: Helper/QueryFilterHelper.php

		-
			message: "#^Constant MAUTIC_TABLE_PREFIX not found\\.$#"
			count: 1
			path: Helper/QueryFilterHelper.php

		-
			message: "#^Parameter \\#3 \\$type of method Mautic\\\\LeadBundle\\\\Segment\\\\Query\\\\QueryBuilder\\:\\:setParameter\\(\\) expects string\\|null, int given\\.$#"
			count: 1
			path: Helper/QueryFilterHelper.php

		-
			message: "#^Constant MAUTIC_TABLE_PREFIX not found\\.$#"
			count: 1
			path: Segment/Query/Filter/CustomObjectMergedFilterQueryBuilder.php

